<h1>Listing debates</h1>

<table>
  <tr>
    <th>Topic</th>
    <th>Description</th>
    <th>User</th>
    <th>Likes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @debates.each do |debate| %>
  <tr>
    <td><%= debate.topic %></td>
    <td><%= debate.description %></td>
    <td><%= debate.user_id %></td>
    <td><%= debate.likes %></td>
    <td><%= link_to 'Show', debate %></td>
    <td><%= link_to 'Edit', edit_debate_path(debate) %></td>
    <td><%= link_to 'Destroy', debate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Debate', new_debate_path %>
