
<p id="notice"><%= notice %></p>

<p>
  <b>Topic:</b>
  <%= @debate.topic %>
</p>

<p>
  <b>Description:</b>
  <%= @debate.description %>
</p>

<p>
  <b>Uploaded by:</b>
  <%= @user %>
</p>

<p>
  <b>Likes:</b>
  <%= @debate.likes %>
</p>


<%= link_to 'Edit', edit_debate_path(@debate) %> |
<%= link_to 'Back', debates_path %>
