
<p id="notice"><%= notice %></p>

<p>
  <h2>
  	<%= @debate.topic %> | 
	  	<small>
	  		<%= @debate.user.email %>
	  	</small>
  </h2>
</p>


<p>

  <%= link_to "Trend it!", :back %>
  <%= link_to "Untrend it!", :back %>
</p>


<p>
  <b>Description:</b>
  <%= @debate.description %>
</p>


<% @prev_comment.each do |comment| %>
	<p>
		<strong><%= comment.user.full_name %> :</strong>
		<% if comment.tag %>
			<strong><%= comment.description %></strong>
		<% else %>
			<%= comment.description %>
		<%end%>
	</p>
<%end%>

<%= form_for(@comment) do |f| %>
	-------------------------------------------------------
	<div class="field">
    	<%= f.text_area :description, placeholder: 'comment...' %>
	</div>

	<%= f.hidden_field :debate_id, value: @debate.id %>
	<%= f.hidden_field :user_id, value: current_user.id %>
	
	<div class="field">
	    <%= f.radio_button :tag, "true" %>
	    <%= f.label :tag, "I'm with this.", :value => "true"  %><br>
	    <%= f.radio_button :tag, "false" %>
	    <%= f.label :tag, "I'm against this.", :value => "false" %>
  	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<%end%>


<%= link_to 'Edit', edit_debate_path(@debate) %> |
<%= link_to 'Back', debates_path %>
<%= link_to 'Like', debate_like_path(@debate), method: :post %>
