
<p id="notice"><%= notice %></p>

<p>
  <h2>
  	<%= @debate.topic %> | 
	  	<small>
	  		<%= @debate.user.email %>
	  	</small>
  </h2>
</p>

<h4><%= Like._count(@debate.id)%>
	<small>
		<% if not @prev_like %>
			<%= link_to "Trend it!", likes_path(debate_id: @debate.id, user_id: current_user.id), method: :post %>
		<%else%>
			<%= link_to "Untrend it!", like_path(@prev_like[:id]), method: :delete %>
		<%end%>
	</small>
</h4>

</br>

<p>
  <b>Description:</b>
  <%= @debate.description %>
</p>


<% @prev_comment.each do |comment| %>
	<p class="<%= comment.tag ? 'for' : 'against' %>">
		<strong><%= comment.user.user_name %> :</strong>
		<span><%= comment.description %></span>
	</p>
<%end%>

<%= form_for(@comment) do |f| %>
	-------------------------------------------------------
	<div class="field">
    	<%= f.text_area :description, placeholder: 'comment...' %>
	</div>

	<%= f.hidden_field :debate_id, value: @debate.id %>
	<%= f.hidden_field :user_id, value: current_user.id %>
	
	<div class="field">
	    <%= f.radio_button :tag, "true" %>
	    <%= f.label :tag, "I'm with this.", :value => "true"  %><br>
	    <%= f.radio_button :tag, "false" %>
	    <%= f.label :tag, "I'm against this.", :value => "false" %>
  	</div>

	<div class="actions">
		<%= f.button :Comment, class: "btn btn-primary" %>

	</div>
<%end%>


<%= link_to 'Edit', edit_debate_path(@debate) %> |
<%= link_to 'Back', debates_path %>
<%= link_to 'Like', debate_like_path(@debate), method: :post %>

<style type="text/css">
	
.for {
	color: green;
}

.against {
	color: red;	
}

</style>	
